@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: hsl(217, 28%, 15%);
}
@theme {
  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}
@layer components {
  .gradient {
    background: rgb(101, 226, 217);
    background: linear-gradient(
      84deg,
      rgba(101, 226, 217, 1) 7%,
      rgba(51, 158, 204, 1) 90%
    );
    will-change: scale;
    transition: scale 0.15s ease;
  }
}
